<div id="head-pri">
    <h1>EMPRESAS</h1>
  
    <!-- Button trigger modal -->
    <button type="button" id="btnagregar" data-bs-toggle="modal" data-bs-target="#agregarmodal">Agregar Empresa</button>
  
   
   <!-- Modal agregar-->
   <div class="modal fade" id="agregarmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ingresar Empresa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Agregar Empresa</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  >
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"  >Guardar</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  <!-- Modal Actualizar-->
  <div class="modal fade" id="actializarmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Actulizar Empresa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">ACTUALIZAR</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="card">
      <div class="card-header">
        <img src="../../../assets/images/" alt="rover" />
      </div>
      <div class="card-body">
        <h4>Gusto al Gusto</h4>
  
        <div class ="btncrud">
          <button id="actu"  data-bs-toggle="modal" data-bs-target="#actializarmodal" >Actializar</button>
          <button type="button" id="elimi" >Eliminar</button>
          <button type="button" id="ver" >ver</button>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        <img src="../../../assets/images/" alt="rover" />
      </div>
      <div class="card-body">
        <h4>Tengo Sed</h4>
  
        <div class ="btncrud">
          <button id="actu"  data-bs-toggle="modal" data-bs-target="#actializarmodal" >Actializar</button>
          <button type="button" id="elimi" >Eliminar</button>
          <button type="button" id="ver" >ver</button>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        <img src="../../../assets/images/" alt="rover" />
      </div>
      <div class="card-body">
        <h4>La ultima</h4>
  
        <div class ="btncrud">
          <button id="actu"  data-bs-toggle="modal" data-bs-target="#actializarmodal" >Actializar</button>
          <button type="button" id="elimi" >Eliminar</button>
          <button type="button" id="ver" >ver</button>
          
        </div>
      </div>
    </div>
  </div>
  
  
  